@import "tailwindcss";

@theme {
  --color-surface-0: var(--p-surface-0);
  --color-surface-50: var(--p-surface-50);
  --color-surface-100: var(--p-surface-100);
  --color-surface-200: var(--p-surface-200);
  --color-surface-300: var(--p-surface-300);
  --color-surface-400: var(--p-surface-400);
  --color-surface-500: var(--p-surface-500);
  --color-surface-600: var(--p-surface-600);
  --color-surface-700: var(--p-surface-700);
  --color-surface-800: var(--p-surface-800);
  --color-surface-900: var(--p-surface-900);
  --color-surface-950: var(--p-surface-950);

  --color-primary: var(--p-primary-500);
  --color-primary-50: var(--p-primary-50);
  --color-primary-100: var(--p-primary-100);
  --color-primary-200: var(--p-primary-200);
  --color-primary-300: var(--p-primary-300);
  --color-primary-400: var(--p-primary-400);
  --color-primary-500: var(--p-primary-500);
  --color-primary-600: var(--p-primary-600);
  --color-primary-700: var(--p-primary-700);
  --color-primary-800: var(--p-primary-800);
  --color-primary-900: var(--p-primary-900);

  --color-primary-contrast: var(--p-primary-contrast-color);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
